name: type check

on: [push, pull_request]

permissions:
  contents: read

jobs:
  type-check:
    runs-on: ubuntu-latest
    steps:
    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: 24
    - uses: actions/checkout@v4
    - run: curl -fsSL https://github.com/AikidoSec/safe-chain/releases/latest/download/install-safe-chain.sh | sh -s -- --ci
    - run: npm ci
    - run: npm run type-check
